<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <form class="form-inline mr-auto mt-2 mt-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
        Dropdown
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/portfolio', id]">Portfolio</a>
        <a class="dropdown-item" [routerLink]="['/settings', id]">Settings</a>
        <a class="dropdown-item" [routerLink]="['/']">Logout</a>
      </div>
    </li>
  </ul>
</nav>
<div class="container text-white">
  <div class="row">
    <div class="col-lg-8">
      <h1>{{stock["name"]}}</h1>
      <h3>{{stock["price"]}}</h3>
      <h6 *ngIf="stock['change'] >= 0" class="col-md text-success">+{{stock["change"]}} (+{{stock["percent"]}}%)</h6>
      <h6 *ngIf="0 > stock['change']" class="col-md text-danger">{{stock["change"]}} ({{stock["percent"]}}%)</h6>
      <div class="row">
        <div class="col">
          <h4>This is some text within a card body.</h4>
        </div>
        <div class="col">
          <h4>This is some text within a card body.</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4 jumbotron">
      <div class="row">
        <button class="col btn-dark" (click)="marketBuy()">Buy {{stock["name"]}}</button>
        <button class="col btn-dark" (click)="marketSell()">Sell {{stock["name"]}}</button>
      </div>
      <hr>
      <form (submit)="order()">
        <div class="form-group row">
          <label class="col col-form-label">Shares</label>
          <div class="col">
            <input type="number" class="form-control text-right" name="shares" [(ngModel)]="shares">
          </div>
        </div>
        <div class="form-group row">
          <label class="col">Price</label>
          <div class="col">
            <p class="text-right">{{stock["price"]}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col" *ngIf="buy">Cost</label>
          <label class="col" *ngIf="!buy">Credit</label>
          <div class="col">
            <p class="text-right" *ngIf="(stock['price'] * shares).toFixed(2) >= 0">{{(stock["price"] * shares).toFixed(2)}}</p>
          </div>
        </div>
        <p class="text-danger" *ngIf="errors.shares">{{errors.shares}}</p>
        <button type="submit" class="btn btn-success" *ngIf="buy">Buy</button>
        <button type="submit" class="btn btn-danger" *ngIf="!buy">Sell</button>
      </form>
    </div>
  </div>
</div>
