html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: black;
}

.container {
    padding: 100px;
    background-color: black;
}

a {
    color: inherit;
}

a:hover {
    color: #85bb65;
    text-decoration: none;
    cursor: pointer;
}

table {
    margin-top: 100px;
}