<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Investment Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body class="text-white">
    <nav class="navbar navbar-expand-lg">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" id="signin">Login/Register</a>
        </li>
      </ul>
    </nav>

    <div class="container text-center">
      <h1>Investment Tracker</h1>
      <h2>Wanna get into investing but afraid to risk your own money?</h2>
      <h2>Try this tool out. Experiment, simulate, learn.</h2>
      <div id="stocks">
        <div class="row">
          <div class="col">
            <h3>DJIA</h3>
            <h3>NASDAQ</h3>
            <h3>S&P 500</h3>
          </div>
          <div class="col">
            <h3>25299.92</h3>
            <h3>7870.89</h3>
            <h3>2839.96</h3>
          </div>
          <div class="col">
            <h3 class="text-success">+112.22 (+0.45%)</h3>
            <h3 class="text-success">+51.19 (+0.65%)</h3>
            <h3 class="text-success">+18.03 (+0.64%)</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
